{% extends 'layout.html' %}

{%  block head %}
{% endblock %}

{% block body_class %}game_body{% endblock %}

{% block body %}
<form action="/game" method="post">
    <button type="submit" class="answer" id="top" name="submit" value="{{ statements[order_top][4] }}">{{ statements[order_top][2] }}</button>
</form>
<form action="/game" method="post">
    <button type="submit" class="answer" id="bottom" name="submit" value="{{ statements[order_bottom][4] }}">{{ statements[order_bottom][2] }}</button>
</form>
<div id="circle">
    <div id="score">{{ score }}</div>
</div>
<script>
    
    document.querySelectorAll('.answer').forEach(function(button) {
        button.addEventListener('click', function() {
            var statement = this.getAttribute('value') === 'True';
            this.style.color = statement ? 'rgb(35, 101, 51)' : 'rgb(186, 0, 0)';
        });
    });

    setTimeout(function() {
            document.getElementById(buttonClicked + 'Form').submit();
        }, 50000);
</script>
{% endblock %}
